:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    /* flex-direction: column; */
    margin: 0;
    font-family: var(--system-ui);
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

img {
    width: 100%;
    height: auto;
}

ul li {
    list-style: none;
}


.sidebar {
    background-color: #0891b2;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: #f0f9ff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header > div {
    display: grid;
}

/* .input-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} */

.input {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    width: 600px;
    height: 20px;
}

.my-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    justify-self: center;
    align-self: center;
}

.icon-name-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 3fr;
}

.cat-icon {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}

.icon-name-container > p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.icon-name-container > h2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.header > ul {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.icon-name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
